    /* General Body CSS */
    body {
        cursor: url('../../public/cursors/rhinoHeartCursor.cur'), auto;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        background: linear-gradient(120deg, #E6E6FA, #C9E8FF);
        color: #333;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: #E6E6FA; /* Set a background color to match the gradient */
      }
  
      /* Content CSS */
      #country-details {
        position: relative;
        margin: 20px;
        padding: 50px 30px 20px 20px;
        background-color: #FFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }
  
      #country-details h2 {
        color: #3E4147;
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        transition: text-shadow 0.3s ease-in-out;
      }
  
      #country-details ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
  
      #country-details li {
        margin-bottom: 10px;
        text-align: center;
      }
  
      #country-details a {
        color: #FF4081;
        text-decoration: none;
        transition: color 0.2s;
        font-weight: bold;
      }
  
      #country-details a:hover {
        color: #FF6E98;
        transform: scale(1.05);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      }

      /* Back Button CSS */
      #back-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        outline: none;
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #FFF;
        background-color: #FF4081;
        border-radius: 30px;
        z-index: 1;
        cursor: pointer;
        transition: background-color 0.2s;
      }

      #back-button:hover {
        background-color: #FF6E98;
      }

      /* Quick exit button styling */
      .quick-exit-button {
        position: absolute;
        top: 20px;
        right: 46%;
        border: none;
        outline: none;
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #FFF;
        background-color: #FF4081;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.2s;
      }
      
      .quick-exit-button:hover {
        background-color: #FF6E98;
      }
    
      /* Flag Icon CSS */
      .flag-icon {
        vertical-align: middle;
        margin-right: 5px;
      }

      .heart {
        position: absolute;
        width: 30px;
        height: 30px;
        background: url('../../public/images/lightHeart.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;
    }  
  
      /* Add custom styles for the scrollbar */
      ::-webkit-scrollbar {
          width: 10px; /* Set the width of the scrollbar */
      }
  
      ::-webkit-scrollbar-track {
          background-color: #F3D3D9; /* Set the background color of the scrollbar track */
      }
  
      ::-webkit-scrollbar-thumb {
          background-color: #FF4081; /* Set the color of the scrollbar thumb */
          border-radius: 5px; /* Round the corners of the scrollbar thumb */
          transition: background-color 0.3s; /* Add a smooth transition for the background color */
      }
  
      ::-webkit-scrollbar-thumb:hover {
          background-color: #FF6E98; /* Set the color of the scrollbar thumb on hover */
      }
  
      /* Add animation for the scrollbar thumb */
      @keyframes cuteScrollbar {
          0% { background-color: #FF4081; } /* Initial color */
          50% { background-color: #FF6E98; } /* Intermediate color */
          100% { background-color: #FF4081; } /* Final color */
      }
  
      /* Apply the animation to the scrollbar thumb */
      ::-webkit-scrollbar-thumb {
          animation: cuteScrollbar 1.5s infinite; /* Apply the animation */
      }

      /* Selection */
      ::-moz-selection { /* Code for Firefox */
          color: white;
          background: #DAB6FF;
      }
      
      ::selection {
          color: white;
          background: #DAB6FF;
      }