    
    #anime-dropdown-container {
        display: none;
        position: absolute;
        right: 285px; 
        top: 125px; 
        background-color: #ffc0cb; /* Light pink background */
        min-width: 160px;
        max-height: 200px; 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        overflow: auto;
        border-radius: 10px; /* Rounded corners */
        color: #000; /* Black text color */
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
    
    #anime-dropdown-container.active {
        display: block;
    }
    
    .anime-dropdown-item {
        background-color: #ffb6c1;
        padding: 8px 16px;
        cursor: pointer;
        transition: transform 0.3s ease, border 0.3s ease;
        border: 3px solid transparent;
        border-radius: 10px;
    }

    .anime-dropdown-item img {
        max-width: 100%; /* Ensure the image doesn't overflow */
        max-height: 100%;
    }
    
    .anime-dropdown-item:hover {
        transform: scale(1.1);
        border: 3px solid #ff69b4; /* Hot pink border */
    }

    #anime-dropdown-button {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.6em;
        color: #fff; /* Hot pink */
        cursor: pointer;
        padding: 5px;
        border-radius: 12px;
        background-color: #ff69b4;
        transition: all 0.3s ease;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    
    #anime-dropdown-button:hover {
        background-color: #ff69b4;
        color: #fff;
        transform: translateY(-3px);
    }
    
    #anime-dropdown-button:active {
        transform: translateY(1px);
    }