    /* General Body CSS */
    body {
        cursor: url('../public/cursors/rhinoHeartCursor.cur'), auto;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        background: linear-gradient(120deg, #E6E6FA, #C9E8FF); /* Light lavender color and linear gradient to decrease stress */
        color: #333;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevent white background if too far left or right */
    }

    /* Top bar styling */
    .top-bar {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #F3D3D9; /* Light pink color to promote warmth */
        color: #333;
    }

    .top-bar h1 {
        display: flex; 
        align-items: center; 
        margin: 0;
    }

    .top-bar h1 img {
        width: 60px;
        margin-right: 10px;
    }

    .top-bar #counter {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 18px;
        color: #333;
    }

    /* Content CSS */
    h1, h2 {
        color: #3E4147;
        font-size: 24px;
        margin-top: 20px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        transition: text-shadow 0.3s ease-in-out;
    }

    h2 {
        font-size: 20px;
        margin-top: 40px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 40px;
    }

    li {
        margin: 20px 0;
        text-align: center;
    }

    a {
        color: #FF4081; /* Pink link color */
        text-decoration: none;
        transition: color 0.2s;
        font-weight: bold;
    }

    a:hover {
        color: #FF6E98; /* Lighter pink color on hover */
        transform: scale(1.05); /* Slight scale effect on hover */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow on hover */
    }

    /* Country card styling */
    .country-card {
        display: inline-block;
        width: 200px;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        background-color: #FFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        cursor: pointer;
        position: relative;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .country-card .country-flag {
        width: 100%;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }

    .country-card .country-name {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 0;
        border-radius: 0 0 10px 10px;
        font-weight: bold;
    }

    .country-card .country-flag + .country-name {
        margin-top: -5px;
    }

    .country-card:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .country-card:hover .country-name {
        background-color: rgba(255, 255, 255, 0.95);
    }

    .country-card:hover .country-flag {
        opacity: 0.8;
    }

    .country-card p {
        margin: 5px 0;
    }

    /* Search bar styling */
    .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    }

    .search-bar input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    }

    .search-bar button {
    padding: 10px 20px;
    background-color: #FF4081;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    .search-bar button:hover {
    background-color: #FF6E98;
    }   

    .cursor-fish {
        cursor: url('../public/cursors/koiCursor.cur'), auto;
    }

    .heart {
        position: absolute;
        width: 30px;
        height: 30px;
        background: url('../public/images/heart.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;
    }    

    /* Add custom styles for the scrollbar */
    ::-webkit-scrollbar {
        width: 10px; /* Set the width of the scrollbar */
    }

    ::-webkit-scrollbar-track {
        background-color: #F3D3D9; /* Set the background color of the scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #FF4081; /* Set the color of the scrollbar thumb */
        border-radius: 5px; /* Round the corners of the scrollbar thumb */
        transition: background-color 0.3s; /* Add a smooth transition for the background color */
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #FF6E98; /* Set the color of the scrollbar thumb on hover */
    }

    /* Add animation for the scrollbar thumb */
    @keyframes cuteScrollbar {
        0% { background-color: #FF4081; } /* Initial color */
        50% { background-color: #FF6E98; } /* Intermediate color */
        100% { background-color: #FF4081; } /* Final color */
    }

    /* Apply the animation to the scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        animation: cuteScrollbar 1.5s infinite; /* Apply the animation */
    }

    #resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    /* Responsive design */
    @media (max-width: 600px) {
        .top-bar {
            flex-direction: column;
        }
    }